<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BraTo</title>
    <link rel="stylesheet" type="text/css" href="../styles/landing_page.css">
</head>

<body>
    <div class="header-container">
        <div class="header-container-header">
            <h1> <a href="#">BraTo</a></h1>
        </div>
        <div class="header-navbar">
            <div class="header-navbar-item">
                <a href="#">Menu</a>
            </div>
            <div class="header-navbar-item">
                <a href="#">About us</a>
            </div>
            <div class="header-navbar-item">
                <a href="#">Contact</a>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="main-container-hotdog">
            <div class="main-container-hotdog-photo">
                <h3>Hotdog</h3>
                <img id="hotdog-photo" src="../images/hotdog.jpg" alt="Picture of a hotdog">

            </div>

            <div class="main-container-hotdog-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, laudantium consequatur nemo rerum
                    aperiam deserunt perspiciatis dolores maxime eum, molestiae, voluptates quae? Dolorem ducimus
                    doloremque sequi saepe suscipit sit voluptatum.</p>

            </div>
        </div>

        <div class="main-container-schnitzel">
            <div class="main-container-schnitzel-photo">
                <h3>Schnitzel</h3>
                <img id="schnitzel-photo" src="../images/schnitzel.jpg" alt="Picture of a schnitzel">

            </div>

            <div class="main-container-hotdog-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, laudantium consequatur nemo rerum
                    aperiam deserunt perspiciatis dolores maxime eum, molestiae, voluptates quae? Dolorem ducimus
                    doloremque sequi saepe suscipit sit voluptatum.</p>

            </div>

        </div>

    </div>



    <footer id="main-footer">
        <p>Copyright &copy;2021 BraTo</p>
    </footer>
</body>

</html>